@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom base styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  @apply text-gray-800;
  background-image: theme('backgroundImage.gradient-radial');
  background-color: theme('colors.background');
  --tw-gradient-from: theme('gradientColorStops.fiberglass-start');
  --tw-gradient-to: theme('gradientColorStops.fiberglass-end');
  --tw-gradient-stops: var(--tw-gradient-from), theme('gradientColorStops.fiberglass-middle'), var(--tw-gradient-to);
}

/* Custom component styles */
.btn {
  @apply px-4 py-2 rounded-md font-semibold;
}

.btn-primary {
  @apply text-white;
  background: linear-gradient(theme('colors.primary'), theme('colors.primary-dark'));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  filter: brightness(95%);
}

.btn-secondary {
  @apply bg-gray-200 text-gray-800;
}

.btn-secondary:hover {
  @apply bg-gray-300;
}

.search-bar {
  @apply px-4 py-2 rounded-md;
  border: 1px solid #d0d0d0;
}

/* Custom utility styles */
.transition-fast {
  transition-duration: 150ms;
}

.transition-medium {
  transition-duration: 300ms;
}

/* Responsive typography */
@screen sm {
  html {
    font-size: 16px;
  }
}

@screen md {
  html {
    font-size: 18px;
  }
}

@screen lg {
  html {
    font-size: 20px;
  }
}