@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    @apply text-gray-800 bg-background;
    background-image: radial-gradient(
      var(--tw-gradient-stops)
    );
    --tw-gradient-from: theme('gradientColorStops.fiberglass-start');
    --tw-gradient-to: theme('gradientColorStops.fiberglass-end');
    --tw-gradient-stops: var(--tw-gradient-from), theme('gradientColorStops.fiberglass-middle'), var(--tw-gradient-to);
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-semibold transition-medium;
  }

  .btn-primary {
    @apply text-white bg-gradient-to-b from-primary to-primary-dark shadow-sm hover:brightness-95;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }

  .search-bar {
    @apply px-4 py-2 rounded-md border border-gray-300;
  }
}

@layer utilities {
  .transition-fast {
    transition-duration: 150ms;
  }

  .transition-medium {
    transition-duration: 300ms;
  }
}

@screen md {
  html {
    font-size: 18px;
  }
}

@screen lg {
  html {
    font-size: 20px;
  }
}

